

body {line-height: 30px; margin: 0; padding: 0; background-color: #000000; color: #ffffff; text-align:center;text-shadow: 0px 2px 2px red,0px -4px 2px blue,3px 3px 0px green}

header {font-size:20px; background-color:rgb(1, 4, 18);}

