

body { line-height: 25px; margin: 0; padding: 30px; background-color: #000000; color: #ffffff; text-align:center;text-shadow: 0px 2px 2px red,0px -4px 2px blue;border: 8px dashed rgb(0, 0, 54)}

header {font-size:20px; background-color:rgb(1, 8, 39);border:rgb(7, 7, 99) solid 5px}

nav{
    border: 0.2px dashed white;
}

a{
color:whitesmoke;
}
