body{
    background:linear-gradient(#eeeeee,#ffffff); color:#666666; font-family:Verdana, Arial, serif; background-attachment: fixed;
}
header{background-color:#003058; color:#FFFFFF}


#wrapper{
    background-color:#ffffff;
    width:80%; margin-right:auto; margin-left:auto;
    min-width:960px;
    max-width:2048px;
    box-shadow:0px 3px 3px rgb(66,66,66,0.3);
}
header h1{
    line-height:140%; padding:.5rem;
}
h1{
    background-image: url=("utahtechlogo.svg");
    background-repeat: no-repeat;
    background-position:right;
}
nav{
    font-weight:bold; background-color:#F3F3F3;
}
h2 {
    color:#424242; font-family:Georgia,serif;
}
dt{
    color:#003058; font-weight:bold;
}
#ut{
    color:#BA1C21; font-weight:bold;
}
footer{
    font-size:0.7rem; font-style:italic; text-align:center;
}
#homehero{
background-image:url('homehero.jpg');
}
#studenthero{
background-image:url('studenthero.jpg');
}

#alt{
    width:300px
}